*{
    box-sizing: border-box;
    margin:0;
}

header{
    background-image: url(./assets/blackground.jpeg);
}

#img-logo {
    width: 150px;
    padding: 5px;
    margin-left: 5px;
}

.spa {
     display: flex;
     justify-content: center;
}

#img-limpeza-pele {
    width: 300px;
    border-radius: 100%;
}